
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#include "ftl/head.ftl"/>

    <script type="text/javascript" src="${contextPath}/js/thickbox/thickbox.js"></script>
    <link rel="stylesheet" href="${contextPath}/js/thickbox/thickbox.css" type="text/css"></link>
</head>
<body>
<div class="container">
    <#include "ftl/header.ftl"/>

    <div class="pagebody clear">
        <div class="pageBG">
            <!-- 左侧导航栏 -->
            <#include "ftl/leftbar.ftl"/>

            <div style="height:25px;"></div><div class="mainbody">
            <!-- nav -->
            <#include "ftl/nav.ftl"/>

            <h3>About Us</h3>

            <!-- start content -->
            <div style="
                          font-size: 14PX;
                          font-family: arial,helvetica,sans-serif;
                          text-align: justify;
                          line-height: 2;">
                <p>
                    <strong>PREBOOMING</strong> is one of the most professional water sports goods like the snorkeling ,diving ,surfing and swimming products manufacturer in China. We design, produce and sell full face snorkeling masks, snorkeling fins, diving wetsuit, diving mask&fin&snorkel, neoprene gloves, neoprene boots, sup, surfboard leash, rash guard, swimming goggles and swimming caps.
                </p>
                <p>
                    Nowadays, <strong>PREBOOMING</strong> has customers in USA, Europe, South America, Australia, New Zealand ,Canada,etc. We could do OEM and ODM service for you. Olny you have any requirements,please let us know and feel free to contact us.  Thank you.
                </p>

            </div>
            <!-- end content -->

        </div>
        </div>
    </div>

    <!-- footer -->
    <#include "ftl/footer.ftl"/>
</div>
</div>
</body>
</html>
