
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#include "ftl/head.ftl"/>
</head>
<body>
<div class="container">
    <#include "ftl/header.ftl"/>
    <script type="text/javascript">
        Company.id=507;
    </script>

    <div class="pagebody clear">
        <div class="pageBG">

            <!-- 左侧导航栏 -->
            <#include "ftl/leftbar.ftl"/>

            <!-- 主内容 -->
            <div class="mainbody">

                <!-- nav -->
                <#include "ftl/nav.ftl"/>

                <div class="banner"><a><img src="css/images/banner.png" /></a></div>


                <div class="main_top">
                    <div class="HotAboutUs">
                        <div class="title"><h2 style="display: block">Our Products</h2></div> <!-- <h3><label>Hot About Us</label></h3><br/> -->
                        <div class="detail"><div><P><STRONG><SPAN style="COLOR: #03243b"><SPAN style="FONT-SIZE: 14px"><SPAN style="FONT-FAMILY: arial,helvetica,sans-serif">We are dealing with water sport products in the world, our products  are Snorkeling products (full face snorkeling masks, snorkeling fins) Diving products(neoprene wetsuit,neoprene gloves,neoprene boots, diving mask &fin&snorkel), Surfing products (sup, surfboard leashes,rash guard) and Swimming products (swimming goggles, swimming cap). We can do OEM or ODM based on your requirements.</SPAN></SPAN></SPAN></STRONG></P>

                        </div></div>

                    </div>

                </div>

                <div class="HotProduct.disable">
                    <div class="title"><h2>Hot Products</h2><label class="more"><a href="product.html">>> More</a></label></div>
                    <div class="productlist clear">
                        <!-- 列表 -->
                        <#include "ftl/segment/list.ftl" />

                    </div>
                    <script>
                        $('.hotpromore a').html('Read More')
                    </script>

                </div>
            </div>
        </div>

        <!-- footer -->
        <#include "ftl/footer.ftl"/>
    </div>
</div>
</body>
</html>
