
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <#include "ftl/head.ftl"/>
</head>
<body>
<div class="container">
    <#include "ftl/header.ftl"/>
    <script type="text/javascript">
        Company.id=507;
    </script>

    <div class="pagebody clear">
        <div class="pageBG">

            <!-- 左侧导航栏 -->
            <#include "ftl/leftbar.ftl"/>

            <!-- 主内容 -->
            <div class="mainbody">

                <!-- nav -->
                <#include "ftl/nav.ftl"/>

                <div class="banner"><a><img src="css/images/banner.png" /></a></div>


                <div class="main_top">
                    <div class="HotAboutUs">
                        <div class="title"><h2>About Us</h2></div> <!-- <h3><label>Hot About Us</label></h3><br/> -->
                        <div class="detail"><div><P><STRONG><SPAN style="COLOR: #03243b"><SPAN style="FONT-SIZE: 14px"><SPAN style="FONT-FAMILY: arial,helvetica,sans-serif">JESCUBA is one of the most professional surfing &amp; diving apparatus manufacturers and traders in China. We design, produce and sell wetsuits, rash guards, gloves, boots as well as other stuff for surfing and diving. Nowadays, JESCUBA has customers in USA, Europe, South America, Australia, etc.</SPAN></SPAN></SPAN></STRONG></P>

                        </div></div>
                        <label class="more"><a href="aboutus.asp">Read more</a></label>

                    </div>

                    <div class="HotNews">
                        <div class="title"><h2>Hot News</h2></div>
                        <div class="detail">    <ul>
                            <li>
                                <span class="idnews"> [展会] </span>
                                <a href="news.asp?id=189">DEMA SHOW</a>
                                <span class="picNews"> <img src="css/images/icon_new.gif" /></span>
                                <span class="newsListdate">2013-4-20</span>
                                <span class="newsValidityTime">

		2011-10-10
		</span>
                                <span class="description" style="display:none;"><STRONG style="LINE-HEIGHT: 18px; WIDOWS: 2; TEXT-TRANSFORM: none; FONT-VARIANT: normal; FONT-STYLE: normal; TEXT-INDENT: 0px; FONT-FAMILY: Tahoma, Helvetica, Arial, 宋体, sans-serif; WHITE-SPACE: normal; ORPHANS: 2; LETTER-SPACING: normal; COLOR: rgb(0,0,0); FONT-SIZE: 12px; WORD-SPACING: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px"><SPAN style="FONT-SIZE: 16px">We will be in DEMA Show from Nov 2 to Nov 6 in Orando FL<BR style="FLOAT: none">Booth No. 547</SPAN></STRONG></span>
                            </li>
                            <li>
                                <span class="idnews"> [展会] </span>
                                <a href="news.asp?id=190">Global Source HK Fair</a>
                                <span class="picNews"> <img src="css/images/icon_new.gif" /></span>
                                <span class="newsListdate">2013-4-20</span>
                                <span class="newsValidityTime">

		2011-10-10
		</span>
                                <span class="description" style="display:none;"><P style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; MARGIN: 0px; FONT: 12px/18px Tahoma, Helvetica, Arial, 宋体, sans-serif; WHITE-SPACE: normal; ORPHANS: 2; FLOAT: none; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px">We will be in the Global Source HK Fair from Oct 26-30 and the booth number is 928</P>
<P style="WIDOWS: 2; TEXT-TRANSFORM: none; TEXT-INDENT: 0px; MARGIN: 0px; FONT: 12px/18px Tahoma, Helvetica, Arial, 宋体, sans-serif; WHITE-SPACE: normal; ORPHANS: 2; FLOAT: none; LETTER-SPACING: normal; COLOR: rgb(0,0,0); WORD-SPACING: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px">We are sincerely waiting for your visiting.</P></span>
                            </li>

                        </ul>





                        </div>
                        <label class="more"><a href="news/index.html">more</a></label>
                    </div>
                </div>

                <div class="HotProduct">
                    <div class="title"><h2>Hot Products</h2><label class="more"><a href="Products.asp">>> More</a></label></div>
                    <div class="productlist clear">
                        <!-- 列表 -->
                        <#include "ftl/segment/list.ftl" />

                    </div>
                    <script>
                        $('.hotpromore a').html('Read More')
                    </script>

                </div>
            </div>
        </div>

        <!-- footer -->
        <#include "ftl/footer.ftl"/>
    </div>
</div>
</body>
</html>
