<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.desmond.foreigntrade.dao.ext.ProductExtMapper">
  <resultMap id="BaseResultMap" type="com.desmond.foreigntrade.vo.ProductVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="img_path_large" jdbcType="VARCHAR" property="imgPathLarge" />
    <result column="hot_flag" jdbcType="BIT" property="hotFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>

  <select id="search" resultMap="BaseResultMap">
    select * from product
    where del_flag = 0
    <if test="query != null and query !=''">
      and name like concat('%',#{query},'%')
    </if>

    <if test="hotFlag != null and hotFlag != -1">
      and hot_flag = #{hotFlag}
    </if>

    <if test="catList.size() > 0">
      and category_id in
      <foreach collection="catList" open="(" close=")" separator="," item="item">
        #{item}
      </foreach>
    </if>

    <if test="order == 1">
      order by hot_flag desc, category_id desc, update_time desc
    </if>

    <if test="order == 2">
      order by update_time desc
    </if>

  </select>
</mapper>